*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

.btn-1{
   background-color: var(--blue);
}

.btn-1:hover{
   background-color: var(--dark-blue);
}

.btn-2{
   background-color: var(--red);
}

.btn-2:hover{
   background-color: var(--dark-red);
}
.message{
   margin:10px 0;
   width: 100%;
   border-radius: 5px;
   padding:10px;
   text-align: center;
   background-color: var(--red);
   color:var(--white);
   font-size: 20px;
}
.container{
   min-height: 100vh;
   background-color: var(--light-bg);
   display: flex;

   padding:20px;
}

.container .profile{
   padding:20px;
   background-color: #7fc142;
   box-shadow: var(--box-shadow);
   text-align: center;
   width: 200px;
   height: 280px;
   border-radius: 5px;
}

.container .profile img{
   height: 100px;
   width: 100px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
}
.container .profile h3{
   margin:5px 0;
   font-size: 20px;
   color:var(--black);
   text-transform: uppercase;
}

.container .profile p{
   margin-top: 20px;
   color:var(--black);
   font-size: 20px;
}

.container .profile p a{
   color:var(--red);
}

.container .profile p a:hover{
   text-decoration: underline;
}

.btn-1{
   color: white;
}
.btn-2{
   color: white;
}